/*-----------------------Html Area -------------------*/

#particles-js{
  height: 100vh;
  width: 100%;
  position:fixed;
  z-index: -1;
}
#root{
  position: relative;
  z-index: 99;
}
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
}
header{
  display: flex;
  padding-top: 3rem!important;
  background: rgb(2,1,1);
  background: linear-gradient(180deg, rgba(2,1,1,0.874124649859944) 0%, rgba(2,1,1,0.8965336134453782) 11%, rgba(2,1,1,0.874124649859944) 20%, rgba(2,1,1,0.7984943977591037) 33%, rgba(0,29,11,0.7732843137254902) 65%, rgba(0,42,12,0.6724439775910365) 75%, rgba(0,56,4,0.5575980392156863) 100%);

}
body {
  background: radial-gradient(circle, rgba(2,1,1,0.874124649859944) 17%, rgba(2,1,1,0.8965336134453782) 28%, rgba(2,1,1,0.874124649859944) 38%, rgba(2,1,1,0.7984943977591037) 51%, rgba(0,29,11,0.7732843137254902) 65%, rgba(0,42,12,0.6724439775910365) 75%, rgba(0,56,4,0.5575980392156863) 100%);
  background-image: url("../public/img/hojasfondo.jpg");
  background-size:110vw;
  height: 100vh; 
  width: 100%;
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
}
.p.desc{
  text-align: justify;
  margin-left: 8vw;
  margin-right: 5vw;
}
.main{
  margin-top: 3rem!important;
  position: relative;
}

.nav{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 3rem!important;
  flex-direction: column;
}

/*----------------------Inicio Area -------------------*/
.inicio.main{
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 67, 53, 0.46);
}
.inicio.contenedor{
  display: flex;
  justify-content: space-around;
}
.inicio.introduccion{
  text-align: justify;
}
.inicio.h1{
  margin-left: 5vw;
  margin-bottom: 4vh;
}

.inicio.p.subt{
  margin-left: 2vw;
}
.inicio.ul{
  background-color: rgba(0, 106, 23, 0.7);
}
.inicio.li{
  
}

/*-----------------------Footer Area -------------------*/

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgb(2,1,1);
  background: linear-gradient(0deg, rgba(2,1,1,0.874124649859944) 17%, rgba(2,1,1,0.8965336134453782) 28%, rgba(2,1,1,0.874124649859944) 38%, rgba(2,1,1,0.7984943977591037) 51%, rgba(0,29,11,0.7732843137254902) 65%, rgba(0,42,12,0.6724439775910365) 75%, rgba(0,56,4,0.5575980392156863) 100%);
  margin-top: 12vh;
}
.footer{
  list-style:none;
}

.footer.ul1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer.ul2{
  display:flex;
}

.footer.li{
  position: relative;
}

/*-----------------------Formacion Area -------------------*/

.formacion.main{
  padding: 2vw;
  display: flex;
  flex-direction: column;
  background-color: rgba(49, 67, 53, 0.46);
}
.formacion.li{
  margin-top: 1vh;
}

/*-----------------------Porfolio o trabajos Area -------------------*/

.work.group{
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

}

.work.card{
  flex: 1 0 0%;
  margin-bottom: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(27, 37, 29, 0.85);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  flex-direction: column-reverse;
    justify-content: flex-end;
}
.work.card.body{
  padding: 1rem 1rem;
}
a.work.card{
  text-decoration:none;
  color: white;

}

a img{
  flex-direction: column-reverse;
}


/*----------------------Contacto Area -------------------*/

.contacto.form{
  position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 18vh;
}
form{
  display: flex;
    flex-direction: column;
}
label{
  padding-left: 2vw;
  padding-top: 2vh;
  min-width: 40vw;
  padding-bottom: 1vh;
}
textarea{
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}


/*-----------------------Game Area -------------------*/

.game-area {
  position: relative;
  margin: 10px auto;
  width: 450px;
  height: 450px;
  border: 2px solid #000;
  background-image: url("../public/img/game-background.jpg");
  background-size: cover;
}

.snake-dot {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #000;
  border: 1px solid #fff;
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 2%;
  height: 2%;
  background: red;
  border: 1px solid #fff;
  z-index: 1;
}

